#superior{
    background:#00c1c8;
    min-height:80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }



section#hashtag{
    /*background: red;*/
    width: 65%;
    height: 45px;
}

section#hashtag span{
    font-family: 'Permanent Marker';
    color: #009ca1;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
}



section#registrate{
   /* background: green;*/
    display: flex;
    width: 35%;
    height: 45px;
    padding: 2px 0px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

section#registrate span{
    width: 30%;
    font-size: 14px;
    text-align: center;
    display: flex;
    margin: 0px;
    margin-right: 10px;
    line-height: 13px;
}

button.registrate{
    width: 35%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: #ffff;
    height: 46px;
}

.login{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
}

button.login{
    width: 100%;
    color: white;
    outline: none;
    background-color: #00c7ce;
    border: none;
}

img#logito {
    width: 30px;
    height: 30px;
}

#cabecera{
   /* background:#e5e5e5;*/
    min-height:220px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 220px;
    }

section#logo{
	width: 200px;
    height: 200px;
    background: #fff;
    margin:15px 15px 15px 70px;
}

 img#logocel {
    display: none;
 }

img#logo {
    width: 100%;
    height: 100%;
}

section#buscadores {
 /*   background: #098;*/
    width: 850px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 80px;
}

section#buscador1{
	
    width: 540px;
    height: 40px;
    margin-right: 20px;
}

section#buscador2{
	
    width: 290px;
    height: 40px;
}

input.buscador1 {
   	width: 100%;
    border: 1px solid #00b2bb;
    border-radius: 10px;
    padding: 5px 5px;
    outline: none;
    color: #00b2bb;
}

input.buscador2 {
   	width: 100%;
    border: 1px solid #00b2bb;
    border-radius: 10px;
    padding: 5px 5px;
    outline: none;
    color: #00b2bb;
}

/*i.bx.bx-search{
	position: absolute;
    border-radius: 10px;
    font-size: 25px;
    color: var(--colorDeFrase);
    padding: 2px 10px;
}*/

input#busca-producto{
    font-size: 19px;  
}

input#busca-ubicacion{
    font-size: 19px;
   
}
::-webkit-input-placeholder { color: #00b2bb; } 
textarea#busca-producto {
    font-size: 15px;

}
textarea#busca-producto{
    /*background: red;*/
    margin-top: 3px;
    width: 100%;
    height:70%;
    height: 40px;
    margin-right: 20px;
    
}

textarea#busca-producto{
    width: 100%;
    height:70%;
    border: 1px solid #00b2bb;
    border-radius: 4px;
    padding: 5px 5px;
    outline: none;
    color: #00b2bb;
    font-size: 19px;
    margin-top: 10px;
}

section#menu {
    background: #00c1c8;
    width: 100%;
    height: 50px;
    margin: 1px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.navbar {
    overflow: hidden;
    background-color: #00c1c8;
    width: 100%;
        position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #00b2bb;
  height: 100%;
  text-decoration: none;
  color: #fff;

}

.subnav-content {
  display: none;
  position: fixed;
  left: 28.9%;
  background-color: #00b2bb;
  width: 67.34%;
  z-index: 1;
}

.subnav-content a:hover {
  background-color: #e5e5e5;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

@media screen and (max-width:1200px)
{
    section#hashtag{
        display: none;
    }

    img#logocel {
    /* display: none; */
    width: 15%;
    height: 15%;
    /* margin: 0 auto; */
    margin: 5px 0 0 5px;
}
    section#registrate {
    /* background: green; */
    display: flex;
    width: 100%;
    /* height: 45px; */
    /* padding: 2px 0px; */
    /* flex-wrap: wrap; */
    align-items: center;
    }

    section#registrate span {
    width: 30%;
    font-size: 14px;
    text-align: center;
    /* display: flex; */
    /* margin: 0px; */
    /* margin-right: 10px; */
    line-height: 13px;
}
    button.registrate {
    font-size: 12px;
}
    button#sesion {
    font-size: 12px;
}

    section#logo {
        display: none;
    }

    section#buscador1 {
        width: 100%;
        height: 40px;
        display: block;
        margin: 0 auto;
    }

    section#buscador2 {
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }


 /*   #slider {
    margin: 10px 10px 10px 10px;
}
    #contenido{
        margin: 10px 10px 10px 10px;

    }
*/
    section#buscadores {
    margin: 0 auto;
    width: 90%;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 38px;
}


   /* img#logo {
        display: none;
    }*/

    section#menu {
        display: none;
    }
}

