body{
    height: 100%;
    width: 100%;
	margin:0;
    padding:0;
    background-color:rgb(250, 163, 79, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-container{
    width: 100%;
    height: 100%;
    max-width: 1366px;
    background-color: white;
}

section#t-principal {
	/* overflow: hidden; */
    width: 100%;
    background: #00c7ce;
    margin-top: 70px;
    /* box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.75); */
    /* margin: 0 auto; */
}

h4#categoria {
    color: black;
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 32px;
    margin: 0px;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Aside izquierdo */

main .left-section{
    width: 30%;
    height: 1800px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-shadow: 5px 0px 20px -10px rgba(0, 0, 0, 0.75); */
    /* position: fixed; */

}
/* Contenedor imagen */
main .img-container{
    width: 30%;
    height: 200px;
    position: absolute;
    top: -108px;
    display: flex;
    justify-content: center;
}
main .img-container img{
    width: 200px;
    height: auto;
    border-radius: 200px;
    border: 8px solid #00c7ce;
    overflow: hidden;
}
/* Contenedor texto */
main .left-section .info-emp{
    height: 100%;
    box-shadow: 5px 0px 20px -10px rgba(0, 0, 0, 0.75);
}

main .left-section .info-emp .container-sticky{
    height: 60%;
    max-height: 700px;
    width: 100%;
    margin-top: 120px;
    /* background-color: yellow; */
    position: sticky;
    top: 40px;
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: center; */
}

main .left-section .info-emp .container-sticky .description{
    font-size: 14px;
    padding: 0px 20px;
    text-align: center;
}

main .left-section .info-emp .container-sticky .social-section{
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}

main .left-section .info-emp .container-sticky .social-section .social i{
    font-size: 18px;
}

main .left-section .info-emp .container-sticky .recomendaciones{
    margin-top: 30px;
    text-align: center;
}

main .left-section .info-emp .container-sticky .recomendaciones .docker-imgs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

main .left-section .info-emp .container-sticky .recomendaciones .docker-imgs .dck-img-container{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

main .left-section .info-emp .container-sticky .recomendaciones .docker-imgs .dck-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}


/* Seccion derecha */

main .right-section{
    width: 70%;
    height: 1800px;
    /* background-color: blue; */
    position: relative;
    /* left: 30%; */
}